#calculator{
	border: 1px solid grey;
	background-color: #41424a;
	box-shadow: 3px 3px #6d666642;
	width: 330px;
	height: 420px;
	padding: 40px 40px 20px 40px;
	margin-top: 20px;
	margin-left: 40px;
}

#calc-head{
	font-family: Arial;
	font-weight: bold;
	color: white;
	text-align: left;
	border-bottom: 1px solid #aaa;
	margin-bottom: 40px;
}

/*
Attribution: Background color for disabled field : https://stackoverflow.com/questions/1537711/whats-the-css-style-i-need-to-make-a-readonly-textbox-control-look-disabled
 */

#display{
	height: 50px;
	width: 100%;
	text-align: right;
	font-size: xx-large;
	margin-bottom: 30px;
	background-color: #F0F0F0;
	color: black;
}

#button-inputs{
	height: 65%
}

#button-inputs tbody{
	display: table;
	width: 100%;
	height: 100%;
}

#button-inputs table{
	width: 100%;
	height: 100%;
}

#button-inputs table tbody tr{
	width: 100%;
	height: 23%
}

#button-inputs table tbody tr th{
	width: 23%;
}

/*
Referenced https://www.w3schools.com/css/css3_buttons.asp for Button design
https://www.w3schools.com/howto/howto_css_animate_buttons.asp
 */

.input-btn{
	font-size: 22px;
	background-color: #6b6f70;
	box-shadow: 1.5px 2px black, inset 0.5px 1px #00000069;
	color: white;
	border: none;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.input-btn:hover {
	background-color: #4b4e4f;
}

.input-btn:active {
  transform: translateY(1px);
}

.input-btn:focus {outline:0;}

